<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>113913205713-1hmkq34t60ao65uhqnudnc3c207adqfl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.113913205713-1hmkq34t60ao65uhqnudnc3c207adqfl</string>
	<key>API_KEY</key>
	<string>AIzaSyDaV6sFpwgjov8d7HWXiCGkzPj3M1jAzxI</string>
	<key>GCM_SENDER_ID</key>
	<string>113913205713</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.techacademy.kazuma.miura2.RxSwiftAPISample</string>
	<key>PROJECT_ID</key>
	<string>rxswiftapisample</string>
	<key>STORAGE_BUCKET</key>
	<string>rxswiftapisample.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:113913205713:ios:39e8a3ba5d0a2ee31746f0</string>
</dict>
</plist>